<div class="main-container">
  <div class="alert alert-app-level"></div>
  <header class="header header-3">
    <div class="branding">
      <a [routerLink]="['/']" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Ositel Talents</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLinkActive="active" [routerLink]="['/jobs']" class="nav-link nav-text">Jobs</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
