<h1>New job opening</h1>
<form [formGroup]="jobForm" (ngSubmit)="onSubmitForm()" clrForm>
    <clr-input-container>
        <label>Titre</label>
        <input clrInput type="text" formControlName="firstName" />
    </clr-input-container>
    <button class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
</form>